In [22]:
import pandas as pd #importing pandas library

In [23]:
#1.1
df = pd.read_csv(r'C:\Users\dines\OneDrive - UNT System\Desktop\titanic_data_analysis.csv') 
#creating the dataframe and reading the dataset in csv format

In [24]:
df #reading the titanic dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [25]:
#1.2
df.fillna('',inplace=True) #replacing NaN with empty string permanently bu using inplace=True function

In [26]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,,1,2,W./C. 6607,23.4500,,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,,Q

In [27]:
#1.3
con = (df['Survived'] == 1) #filtering the survived people by applying boolean value.

In [28]:
print(con)

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: Survived, Length: 891, dtype: bool

In [29]:
df_avg= df[con]

In [30]:
df_avg #took a new data frame with all the survivors in it.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,,C
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [31]:
avg_age = pd.to_numeric(df_avg['Age'],errors='coerce').mean() #calculating the mean value of all survivors

In [32]:
print("The average age of the survivors is: ",avg_age) #displaying the mean age of survivors

The average age of the survivors is:  28.343689655172415

2) Same activities using pyspark

In [34]:
#2.1
import pyspark

In [35]:
from pyspark.sql import SparkSession

In [36]:
spark = SparkSession.builder.appName('prac').getOrCreate() #initiating the spark session

In [37]:
spark #session details

In [38]:
df = spark.read.option('header','true').csv(r'C:\Users\dines\OneDrive - UNT System\Desktop\train.csv',inferSchema=True)
#creating the pyspark dataframe making sure the datatypes are read in original formats and not as strings.

In [39]:
df.show() #dataframe records.

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [40]:
df.printSchema() #checking the datatypes of schema

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [41]:
type(df) #making sure that it is pyspark dataframe

pyspark.sql.dataframe.DataFrame

In [42]:
#2.2 replacing NaN with empty string
df.na.fill('').show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|     |       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|     |       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|     |       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|     |       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|     |       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|     |       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|     |       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|     |       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|     |       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|     |       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|     |       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|     |       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0|     |       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|     |       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|     |       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [43]:
df_avg=df.filter("Survived==1") #applying filter to take only survivors into new dataframe

In [44]:
df_avg.show(500)
#showing all records and making sure only survivors are in the dataframe

+-----------+--------+------+--------------------+------+----+-----+-----+-----------------+--------+---------------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|           Ticket|    Fare|          Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------------+--------+---------------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|         PC 17599| 71.2833|            C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0| STON/O2. 3101282|   7.925|           null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|           113803|    53.1|           C123|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|           347742| 11.1333|           null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|           237736| 30.0708|           null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|          PP 9549|    16.7|             G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|           113783|   26.55|           C103|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|           248706|    16.0|           null|       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|           244373|    13.0|           null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|             2649|   7.225|           null|       C|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|           248698|    13.0|            D56|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|           330923|  8.0292|           null|       Q|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|           113788|    35.5|             A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|           347077| 31.3875|           null|       S|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|           330959|  7.8792|           null|       Q|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|         PC 17569|146.5208|            B78|       C|
|         33|       1|     3|Glynn, Miss. Mary...|female|null|    0|    0|           335677|    7.75|           null|       Q|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|null|    0|    0|             2677|  7.2292|           null|       C|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|             2651| 11.2417|           null|       C|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|    SC/Paris 2123| 41.5792|           null|       C|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|           330958|  7.8792|           null|       Q|
|         48|       1|     3|O'Driscoll, Miss....|female|null|    0|    0|            14311|    7.75|           null|       Q|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|         PC 17572| 76.7292|            D33|       C|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|             2926|    26.0|           null|       S|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|null|    0|    0|            19947|    35.5|            C52|       S|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|       C.A. 31026|    10.5|           null|       S|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|       C.A. 34651|   27.75|           null|       S|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|           113572|    80.0|            B28|    null|
|         66|       1|     3|Moubarek, Master....|  male|null|    1|    1|             2661| 15.2458|           null|       C|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0|       C.A. 29395|    10.5|            F33|       S|
|         69|       1|     3|Andersson, Miss. ...|female|17.0|    4|    2|          3101281|   7.925|           null|       S|
|         75|       1|     3|       Bing, Mr. Lee|  male|32.0|    0|    0|             1601| 56.4958|           null|       S|
|         79|       1|     2|Caldwell, Master....|  male|0.83|    0|    2|           248738|    29.0|           null|       S|
|         80|       1|     3|Dowdell, Miss. El...|female|30.0|    0|    0|           364516|  12.475|           null|       S|
|         82|       1|     3|Sheerlinck, Mr. J...|  male|29.0|    0|    0|           345779|     9.5|           null|       S|
|         83|       1|     3|McDermott, Miss. ...|female|null|    0|    0|           330932|  7.7875|           null|       Q|
|         85|       1|     2| Ilett, Miss. Bertha|female|17.0|    0|    0|       SO/C 14885|    10.5|           null|       S|
|         86|       1|     3|Backstrom, Mrs. K...|female|33.0|    3|    0|          3101278|   15.85|           null|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|            19950|   263.0|    C23 C25 C27|       S|
|         98|       1|     1|Greenfield, Mr. W...|  male|23.0|    0|    1|         PC 17759| 63.3583|        D10 D12|       C|
|         99|       1|     2|Doling, Mrs. John...|female|34.0|    0|    1|           231919|    23.0|           null|       S|
|        107|       1|     3|Salkjelsvik, Miss...|female|21.0|    0|    0|           343120|    7.65|           null|       S|
|        108|       1|     3|Moss, Mr. Albert ...|  male|null|    0|    0|           312991|   7.775|           null|       S|
|        110|       1|     3| Moran, Miss. Bertha|female|null|    1|    0|           371110|   24.15|           null|       Q|
|        124|       1|     2| Webber, Miss. Susan|female|32.5|    0|    0|            27267|    13.0|           E101|       S|
|        126|       1|     3|Nicola-Yarred, Ma...|  male|12.0|    1|    0|             2651| 11.2417|           null|       C|
|        128|       1|     3|Madsen, Mr. Fridt...|  male|24.0|    0|    0|          C 17369|  7.1417|           null|       S|
|        129|       1|     3|   Peter, Miss. Anna|female|null|    1|    1|             2668| 22.3583|          F E69|       C|
|        134|       1|     2|Weisz, Mrs. Leopo...|female|29.0|    1|    0|           228414|    26.0|           null|       S|
|        137|       1|     1|Newsom, Miss. Hel...|female|19.0|    0|    2|            11752| 26.2833|            D47|       S|
|        142|       1|     3|Nysten, Miss. Ann...|female|22.0|    0|    0|           347081|    7.75|           null|       S|
|        143|       1|     3|Hakkarainen, Mrs....|female|24.0|    1|    0| STON/O2. 3101279|   15.85|           null|       S|
|        147|       1|     3|"Andersson, Mr. A...|  male|27.0|    0|    0|           350043|  7.7958|           null|       S|
|        152|       1|     1|Pears, Mrs. Thoma...|female|22.0|    1|    0|           113776|    66.6|             C2|       S|
|        157|       1|     3|"Gilnagh, Miss. K...|female|16.0|    0|    0|            35851|  7.7333|           null|       Q|
|        162|       1|     2|"Watt, Mrs. James...|female|40.0|    0|    0|       C.A. 33595|   15.75|           null|       S|
|        166|       1|     3|"Goldsmith, Maste...|  male| 9.0|    0|    2|           363291|  20.525|           null|       S|
|        167|       1|     1|Chibnall, Mrs. (E...|female|null|    0|    1|           113505|    55.0|            E33|       S|
|        173|       1|     3|Johnson, Miss. El...|female| 1.0|    1|    1|           347742| 11.1333|           null|       S|
|        184|       1|     2|Becker, Master. R...|  male| 1.0|    2|    1|           230136|    39.0|             F4|       S|
|        185|       1|     3|Kink-Heilmann, Mi...|female| 4.0|    0|    2|           315153|  22.025|           null|       S|
|        187|       1|     3|"O'Brien, Mrs. Th...|female|null|    1|    0|           370365|    15.5|           null|       Q|
|        188|       1|     1|"Romaine, Mr. Cha...|  male|45.0|    0|    0|           111428|   26.55|           null|       S|
|        191|       1|     2| Pinsky, Mrs. (Rosa)|female|32.0|    0|    0|           234604|    13.0|           null|       S|
|        193|       1|     3|Andersen-Jensen, ...|female|19.0|    1|    0|           350046|  7.8542|           null|       S|
|        194|       1|     2|Navratil, Master....|  male| 3.0|    1|    1|           230080|    26.0|             F2|       S|
|        195|       1|     1|Brown, Mrs. James...|female|44.0|    0|    0|         PC 17610| 27.7208|             B4|       C|
|        196|       1|     1|Lurette, Miss. Elise|female|58.0|    0|    0|         PC 17569|146.5208|            B80|       C|
|        199|       1|     3|"Madigan, Miss. M...|female|null|    0|    0|           370370|    7.75|           null|       Q|
|        205|       1|     3|"Cohen, Mr. Gursh...|  male|18.0|    0|    0|         A/5 3540|    8.05|           null|       S|
|        208|       1|     3|Albimona, Mr. Nas...|  male|26.0|    0|    0|             2699| 18.7875|           null|       C|
|        209|       1|     3|"Carr, Miss. Hele...|female|16.0|    0|    0|           367231|    7.75|           null|       Q|
|        210|       1|     1|    Blank, Mr. Henry|  male|40.0|    0|    0|           112277|    31.0|            A31|       C|
|        212|       1|     2|Cameron, Miss. Cl...|female|35.0|    0|    0|     F.C.C. 13528|    21.0|           null|       S|
|        216|       1|     1|Newell, Miss. Mad...|female|31.0|    1|    0|            35273| 113.275|            D36|       C|
|        217|       1|     3|Honkanen, Miss. E...|female|27.0|    0|    0| STON/O2. 3101283|   7.925|           null|       S|
|        219|       1|     1|Bazzani, Miss. Al...|female|32.0|    0|    0|            11813| 76.2917|            D15|       C|
|        221|       1|     3|Sunderland, Mr. V...|  male|16.0|    0|    0|  SOTON/OQ 392089|    8.05|           null|       S|
|        225|       1|     1|Hoyt, Mr. Frederi...|  male|38.0|    1|    0|            19943|    90.0|            C93|       S|
|        227|       1|     2|Mellors, Mr. Will...|  male|19.0|    0|    0|        SW/PP 751|    10.5|           null|       S|
|        231|       1|     1|Harris, Mrs. Henr...|female|35.0|    1|    0|            36973|  83.475|            C83|       S|
|        234|       1|     3|Asplund, Miss. Li...|female| 5.0|    4|    2|           347077| 31.3875|           null|       S|
|        238|       1|     2|"Collyer, Miss. M...|female| 8.0|    0|    2|       C.A. 31921|   26.25|           null|       S|
|        242|       1|     3|"Murphy, Miss. Ka...|female|null|    1|    0|           367230|    15.5|           null|       Q|
|        248|       1|     2|Hamalainen, Mrs. ...|female|24.0|    0|    2|           250649|    14.5|           null|       S|
|        249|       1|     1|Beckwith, Mr. Ric...|  male|37.0|    1|    1|            11751| 52.5542|            D35|       S|
|        256|       1|     3|Touma, Mrs. Darwi...|female|29.0|    0|    2|             2650| 15.2458|           null|       C|
|        257|       1|     1|Thorne, Mrs. Gert...|female|null|    0|    0|         PC 17585|    79.2|           null|       C|
|        258|       1|     1|Cherry, Miss. Gladys|female|30.0|    0|    0|           110152|    86.5|            B77|       S|
|        259|       1|     1|    Ward, Miss. Anna|female|35.0|    0|    0|         PC 17755|512.3292|           null|       C|
|        260|       1|     2|Parrish, Mrs. (Lu...|female|50.0|    0|    1|           230433|    26.0|           null|       S|
|        262|       1|     3|Asplund, Master. ...|  male| 3.0|    4|    2|           347077| 31.3875|           null|       S|
|        268|       1|     3|Persson, Mr. Erns...|  male|25.0|    1|    0|           347083|   7.775|           null|       S|
|        269|       1|     1|Graham, Mrs. Will...|female|58.0|    0|    1|         PC 17582|153.4625|           C125|       S|
|        270|       1|     1|Bissette, Miss. A...|female|35.0|    0|    0|         PC 17760|135.6333|            C99|       S|
|        272|       1|     3|Tornquist, Mr. Wi...|  male|25.0|    0|    0|             LINE|     0.0|           null|       S|
|        273|       1|     2|Mellinger, Mrs. (...|female|41.0|    0|    1|           250644|    19.5|           null|       S|
|        275|       1|     3|"Healy, Miss. Han...|female|null|    0|    0|           370375|    7.75|           null|       Q|
|        276|       1|     1|Andrews, Miss. Ko...|female|63.0|    1|    0|            13502| 77.9583|             D7|       S|
|        280|       1|     3|Abbott, Mrs. Stan...|female|35.0|    1|    1|        C.A. 2673|   20.25|           null|       S|
|        284|       1|     3|Dorking, Mr. Edwa...|  male|19.0|    0|    0|       A/5. 10482|    8.05|           null|       S|
|        287|       1|     3|de Mulder, Mr. Th...|  male|30.0|    0|    0|           345774|     9.5|           null|       S|
|        289|       1|     2|Hosono, Mr. Masabumi|  male|42.0|    0|    0|           237798|    13.0|           null|       S|
|        290|       1|     3|Connolly, Miss. Kate|female|22.0|    0|    0|           370373|    7.75|           null|       Q|
|        291|       1|     1|"Barber, Miss. El...|female|26.0|    0|    0|            19877|   78.85|           null|       S|
|        292|       1|     1|Bishop, Mrs. Dick...|female|19.0|    1|    0|            11967| 91.0792|            B49|       C|
|        299|       1|     1|Saalfeld, Mr. Ado...|  male|null|    0|    0|            19988|    30.5|           C106|       S|
|        300|       1|     1|Baxter, Mrs. Jame...|female|50.0|    0|    1|         PC 17558|247.5208|        B58 B60|       C|
|        301|       1|     3|"Kelly, Miss. Ann...|female|null|    0|    0|             9234|    7.75|           null|       Q|
|        302|       1|     3|  McCoy, Mr. Bernard|  male|null|    2|    0|           367226|   23.25|           null|       Q|
|        304|       1|     2| Keane, Miss. Nora A|female|null|    0|    0|           226593|   12.35|           E101|       Q|
|        306|       1|     1|Allison, Master. ...|  male|0.92|    1|    2|           113781|  151.55|        C22 C26|       S|
|        307|       1|     1|Fleming, Miss. Ma...|female|null|    0|    0|            17421|110.8833|           null|       C|
|        308|       1|     1|Penasco y Castell...|female|17.0|    1|    0|         PC 17758|   108.9|            C65|       C|
|        310|       1|     1|Francatelli, Miss...|female|30.0|    0|    0|         PC 17485| 56.9292|            E36|       C|
|        311|       1|     1|Hays, Miss. Marga...|female|24.0|    0|    0|            11767| 83.1583|            C54|       C|
|        312|       1|     1|Ryerson, Miss. Em...|female|18.0|    2|    2|         PC 17608| 262.375|B57 B59 B63 B66|       C|
|        316|       1|     3|Nilsson, Miss. He...|female|26.0|    0|    0|           347470|  7.8542|           null|       S|
|        317|       1|     2|Kantor, Mrs. Sina...|female|24.0|    1|    0|           244367|    26.0|           null|       S|
|        319|       1|     1|Wick, Miss. Mary ...|female|31.0|    0|    2|            36928|164.8667|             C7|       S|
|        320|       1|     1|Spedden, Mrs. Fre...|female|40.0|    1|    1|            16966|   134.5|            E34|       C|
|        323|       1|     2|Slayter, Miss. Hi...|female|30.0|    0|    0|           234818|   12.35|           null|       Q|
|        324|       1|     2|Caldwell, Mrs. Al...|female|22.0|    1|    1|           248738|    29.0|           null|       S|
|        326|       1|     1|Young, Miss. Mari...|female|36.0|    0|    0|         PC 17760|135.6333|            C32|       C|
|        328|       1|     2|Ball, Mrs. (Ada E...|female|36.0|    0|    0|            28551|    13.0|              D|       S|
|        329|       1|     3|Goldsmith, Mrs. F...|female|31.0|    1|    1|           363291|  20.525|           null|       S|
|        330|       1|     1|Hippach, Miss. Je...|female|16.0|    0|    1|           111361| 57.9792|            B18|       C|
|        331|       1|     3|  McCoy, Miss. Agnes|female|null|    2|    0|           367226|   23.25|           null|       Q|
|        335|       1|     1|Frauenthal, Mrs. ...|female|null|    1|    0|         PC 17611|  133.65|           null|       S|
|        338|       1|     1|Burns, Miss. Eliz...|female|41.0|    0|    0|            16966|   134.5|            E40|       C|
|        339|       1|     3|Dahl, Mr. Karl Ed...|  male|45.0|    0|    0|             7598|    8.05|           null|       S|
|        341|       1|     2|Navratil, Master....|  male| 2.0|    1|    1|           230080|    26.0|             F2|       S|
|        342|       1|     1|Fortune, Miss. Al...|female|24.0|    3|    2|            19950|   263.0|    C23 C25 C27|       S|
|        346|       1|     2|"Brown, Miss. Ame...|female|24.0|    0|    0|           248733|    13.0|            F33|       S|
|        347|       1|     2|Smith, Miss. Mari...|female|40.0|    0|    0|            31418|    13.0|           null|       S|
|        348|       1|     3|Davison, Mrs. Tho...|female|null|    1|    0|           386525|    16.1|           null|       S|
|        349|       1|     3|"Coutts, Master. ...|  male| 3.0|    1|    1|       C.A. 37671|    15.9|           null|       S|
|        357|       1|     1|Bowerman, Miss. E...|female|22.0|    0|    1|           113505|    55.0|            E33|       S|
|        359|       1|     3|McGovern, Miss. Mary|female|null|    0|    0|           330931|  7.8792|           null|       Q|
|        360|       1|     3|"Mockler, Miss. H...|female|null|    0|    0|           330980|  7.8792|           null|       Q|
|        367|       1|     1|Warren, Mrs. Fran...|female|60.0|    1|    0|           110813|   75.25|            D37|       C|
|        368|       1|     3|Moussa, Mrs. (Man...|female|null|    0|    0|             2626|  7.2292|           null|       C|
|        369|       1|     3| Jermyn, Miss. Annie|female|null|    0|    0|            14313|    7.75|           null|       Q|
|        370|       1|     1|Aubart, Mme. Leon...|female|24.0|    0|    0|         PC 17477|    69.3|            B35|       C|
|        371|       1|     1|Harder, Mr. Georg...|  male|25.0|    1|    0|            11765| 55.4417|            E50|       C|
|        376|       1|     1|Meyer, Mrs. Edgar...|female|null|    1|    0|         PC 17604| 82.1708|           null|       C|
|        377|       1|     3|Landergren, Miss....|female|22.0|    0|    0|           C 7077|    7.25|           null|       S|
|        381|       1|     1|Bidois, Miss. Ros...|female|42.0|    0|    0|         PC 17757| 227.525|           null|       C|
|        382|       1|     3|"Nakid, Miss. Mar...|female| 1.0|    0|    2|             2653| 15.7417|           null|       C|
|        384|       1|     1|Holverson, Mrs. A...|female|35.0|    1|    0|           113789|    52.0|           null|       S|
|        388|       1|     2|    Buss, Miss. Kate|female|36.0|    0|    0|            27849|    13.0|           null|       S|
|        390|       1|     2|Lehmann, Miss. Be...|female|17.0|    0|    0|          SC 1748|    12.0|           null|       C|
|        391|       1|     1|Carter, Mr. Willi...|  male|36.0|    1|    2|           113760|   120.0|        B96 B98|       S|
|        392|       1|     3|Jansson, Mr. Carl...|  male|21.0|    0|    0|           350034|  7.7958|           null|       S|

In [45]:
df_avg.na.fill('').show(500)

+-----------+--------+------+--------------------+------+----+-----+-----+-----------------+--------+---------------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|           Ticket|    Fare|          Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------------+--------+---------------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|         PC 17599| 71.2833|            C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0| STON/O2. 3101282|   7.925|               |       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|           113803|    53.1|           C123|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|           347742| 11.1333|               |       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|           237736| 30.0708|               |       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|          PP 9549|    16.7|             G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|           113783|   26.55|           C103|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|           248706|    16.0|               |       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|           244373|    13.0|               |       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|             2649|   7.225|               |       C|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|           248698|    13.0|            D56|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|           330923|  8.0292|               |       Q|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|           113788|    35.5|             A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|           347077| 31.3875|               |       S|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|           330959|  7.8792|               |       Q|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|         PC 17569|146.5208|            B78|       C|
|         33|       1|     3|Glynn, Miss. Mary...|female|null|    0|    0|           335677|    7.75|               |       Q|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|null|    0|    0|             2677|  7.2292|               |       C|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|             2651| 11.2417|               |       C|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|    SC/Paris 2123| 41.5792|               |       C|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|           330958|  7.8792|               |       Q|
|         48|       1|     3|O'Driscoll, Miss....|female|null|    0|    0|            14311|    7.75|               |       Q|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|         PC 17572| 76.7292|            D33|       C|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|             2926|    26.0|               |       S|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|null|    0|    0|            19947|    35.5|            C52|       S|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|       C.A. 31026|    10.5|               |       S|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|       C.A. 34651|   27.75|               |       S|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|           113572|    80.0|            B28|        |
|         66|       1|     3|Moubarek, Master....|  male|null|    1|    1|             2661| 15.2458|               |       C|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0|       C.A. 29395|    10.5|            F33|       S|
|         69|       1|     3|Andersson, Miss. ...|female|17.0|    4|    2|          3101281|   7.925|               |       S|
|         75|       1|     3|       Bing, Mr. Lee|  male|32.0|    0|    0|             1601| 56.4958|               |       S|
|         79|       1|     2|Caldwell, Master....|  male|0.83|    0|    2|           248738|    29.0|               |       S|
|         80|       1|     3|Dowdell, Miss. El...|female|30.0|    0|    0|           364516|  12.475|               |       S|
|         82|       1|     3|Sheerlinck, Mr. J...|  male|29.0|    0|    0|           345779|     9.5|               |       S|
|         83|       1|     3|McDermott, Miss. ...|female|null|    0|    0|           330932|  7.7875|               |       Q|
|         85|       1|     2| Ilett, Miss. Bertha|female|17.0|    0|    0|       SO/C 14885|    10.5|               |       S|
|         86|       1|     3|Backstrom, Mrs. K...|female|33.0|    3|    0|          3101278|   15.85|               |       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|            19950|   263.0|    C23 C25 C27|       S|
|         98|       1|     1|Greenfield, Mr. W...|  male|23.0|    0|    1|         PC 17759| 63.3583|        D10 D12|       C|
|         99|       1|     2|Doling, Mrs. John...|female|34.0|    0|    1|           231919|    23.0|               |       S|
|        107|       1|     3|Salkjelsvik, Miss...|female|21.0|    0|    0|           343120|    7.65|               |       S|
|        108|       1|     3|Moss, Mr. Albert ...|  male|null|    0|    0|           312991|   7.775|               |       S|
|        110|       1|     3| Moran, Miss. Bertha|female|null|    1|    0|           371110|   24.15|               |       Q|
|        124|       1|     2| Webber, Miss. Susan|female|32.5|    0|    0|            27267|    13.0|           E101|       S|
|        126|       1|     3|Nicola-Yarred, Ma...|  male|12.0|    1|    0|             2651| 11.2417|               |       C|
|        128|       1|     3|Madsen, Mr. Fridt...|  male|24.0|    0|    0|          C 17369|  7.1417|               |       S|
|        129|       1|     3|   Peter, Miss. Anna|female|null|    1|    1|             2668| 22.3583|          F E69|       C|
|        134|       1|     2|Weisz, Mrs. Leopo...|female|29.0|    1|    0|           228414|    26.0|               |       S|
|        137|       1|     1|Newsom, Miss. Hel...|female|19.0|    0|    2|            11752| 26.2833|            D47|       S|
|        142|       1|     3|Nysten, Miss. Ann...|female|22.0|    0|    0|           347081|    7.75|               |       S|
|        143|       1|     3|Hakkarainen, Mrs....|female|24.0|    1|    0| STON/O2. 3101279|   15.85|               |       S|
|        147|       1|     3|"Andersson, Mr. A...|  male|27.0|    0|    0|           350043|  7.7958|               |       S|
|        152|       1|     1|Pears, Mrs. Thoma...|female|22.0|    1|    0|           113776|    66.6|             C2|       S|
|        157|       1|     3|"Gilnagh, Miss. K...|female|16.0|    0|    0|            35851|  7.7333|               |       Q|
|        162|       1|     2|"Watt, Mrs. James...|female|40.0|    0|    0|       C.A. 33595|   15.75|               |       S|
|        166|       1|     3|"Goldsmith, Maste...|  male| 9.0|    0|    2|           363291|  20.525|               |       S|
|        167|       1|     1|Chibnall, Mrs. (E...|female|null|    0|    1|           113505|    55.0|            E33|       S|
|        173|       1|     3|Johnson, Miss. El...|female| 1.0|    1|    1|           347742| 11.1333|               |       S|
|        184|       1|     2|Becker, Master. R...|  male| 1.0|    2|    1|           230136|    39.0|             F4|       S|
|        185|       1|     3|Kink-Heilmann, Mi...|female| 4.0|    0|    2|           315153|  22.025|               |       S|
|        187|       1|     3|"O'Brien, Mrs. Th...|female|null|    1|    0|           370365|    15.5|               |       Q|
|        188|       1|     1|"Romaine, Mr. Cha...|  male|45.0|    0|    0|           111428|   26.55|               |       S|
|        191|       1|     2| Pinsky, Mrs. (Rosa)|female|32.0|    0|    0|           234604|    13.0|               |       S|
|        193|       1|     3|Andersen-Jensen, ...|female|19.0|    1|    0|           350046|  7.8542|               |       S|
|        194|       1|     2|Navratil, Master....|  male| 3.0|    1|    1|           230080|    26.0|             F2|       S|
|        195|       1|     1|Brown, Mrs. James...|female|44.0|    0|    0|         PC 17610| 27.7208|             B4|       C|
|        196|       1|     1|Lurette, Miss. Elise|female|58.0|    0|    0|         PC 17569|146.5208|            B80|       C|
|        199|       1|     3|"Madigan, Miss. M...|female|null|    0|    0|           370370|    7.75|               |       Q|
|        205|       1|     3|"Cohen, Mr. Gursh...|  male|18.0|    0|    0|         A/5 3540|    8.05|               |       S|
|        208|       1|     3|Albimona, Mr. Nas...|  male|26.0|    0|    0|             2699| 18.7875|               |       C|
|        209|       1|     3|"Carr, Miss. Hele...|female|16.0|    0|    0|           367231|    7.75|               |       Q|
|        210|       1|     1|    Blank, Mr. Henry|  male|40.0|    0|    0|           112277|    31.0|            A31|       C|
|        212|       1|     2|Cameron, Miss. Cl...|female|35.0|    0|    0|     F.C.C. 13528|    21.0|               |       S|
|        216|       1|     1|Newell, Miss. Mad...|female|31.0|    1|    0|            35273| 113.275|            D36|       C|
|        217|       1|     3|Honkanen, Miss. E...|female|27.0|    0|    0| STON/O2. 3101283|   7.925|               |       S|
|        219|       1|     1|Bazzani, Miss. Al...|female|32.0|    0|    0|            11813| 76.2917|            D15|       C|
|        221|       1|     3|Sunderland, Mr. V...|  male|16.0|    0|    0|  SOTON/OQ 392089|    8.05|               |       S|
|        225|       1|     1|Hoyt, Mr. Frederi...|  male|38.0|    1|    0|            19943|    90.0|            C93|       S|
|        227|       1|     2|Mellors, Mr. Will...|  male|19.0|    0|    0|        SW/PP 751|    10.5|               |       S|
|        231|       1|     1|Harris, Mrs. Henr...|female|35.0|    1|    0|            36973|  83.475|            C83|       S|
|        234|       1|     3|Asplund, Miss. Li...|female| 5.0|    4|    2|           347077| 31.3875|               |       S|
|        238|       1|     2|"Collyer, Miss. M...|female| 8.0|    0|    2|       C.A. 31921|   26.25|               |       S|
|        242|       1|     3|"Murphy, Miss. Ka...|female|null|    1|    0|           367230|    15.5|               |       Q|
|        248|       1|     2|Hamalainen, Mrs. ...|female|24.0|    0|    2|           250649|    14.5|               |       S|
|        249|       1|     1|Beckwith, Mr. Ric...|  male|37.0|    1|    1|            11751| 52.5542|            D35|       S|
|        256|       1|     3|Touma, Mrs. Darwi...|female|29.0|    0|    2|             2650| 15.2458|               |       C|
|        257|       1|     1|Thorne, Mrs. Gert...|female|null|    0|    0|         PC 17585|    79.2|               |       C|
|        258|       1|     1|Cherry, Miss. Gladys|female|30.0|    0|    0|           110152|    86.5|            B77|       S|
|        259|       1|     1|    Ward, Miss. Anna|female|35.0|    0|    0|         PC 17755|512.3292|               |       C|
|        260|       1|     2|Parrish, Mrs. (Lu...|female|50.0|    0|    1|           230433|    26.0|               |       S|
|        262|       1|     3|Asplund, Master. ...|  male| 3.0|    4|    2|           347077| 31.3875|               |       S|
|        268|       1|     3|Persson, Mr. Erns...|  male|25.0|    1|    0|           347083|   7.775|               |       S|
|        269|       1|     1|Graham, Mrs. Will...|female|58.0|    0|    1|         PC 17582|153.4625|           C125|       S|
|        270|       1|     1|Bissette, Miss. A...|female|35.0|    0|    0|         PC 17760|135.6333|            C99|       S|
|        272|       1|     3|Tornquist, Mr. Wi...|  male|25.0|    0|    0|             LINE|     0.0|               |       S|
|        273|       1|     2|Mellinger, Mrs. (...|female|41.0|    0|    1|           250644|    19.5|               |       S|
|        275|       1|     3|"Healy, Miss. Han...|female|null|    0|    0|           370375|    7.75|               |       Q|
|        276|       1|     1|Andrews, Miss. Ko...|female|63.0|    1|    0|            13502| 77.9583|             D7|       S|
|        280|       1|     3|Abbott, Mrs. Stan...|female|35.0|    1|    1|        C.A. 2673|   20.25|               |       S|
|        284|       1|     3|Dorking, Mr. Edwa...|  male|19.0|    0|    0|       A/5. 10482|    8.05|               |       S|
|        287|       1|     3|de Mulder, Mr. Th...|  male|30.0|    0|    0|           345774|     9.5|               |       S|
|        289|       1|     2|Hosono, Mr. Masabumi|  male|42.0|    0|    0|           237798|    13.0|               |       S|
|        290|       1|     3|Connolly, Miss. Kate|female|22.0|    0|    0|           370373|    7.75|               |       Q|
|        291|       1|     1|"Barber, Miss. El...|female|26.0|    0|    0|            19877|   78.85|               |       S|
|        292|       1|     1|Bishop, Mrs. Dick...|female|19.0|    1|    0|            11967| 91.0792|            B49|       C|
|        299|       1|     1|Saalfeld, Mr. Ado...|  male|null|    0|    0|            19988|    30.5|           C106|       S|
|        300|       1|     1|Baxter, Mrs. Jame...|female|50.0|    0|    1|         PC 17558|247.5208|        B58 B60|       C|
|        301|       1|     3|"Kelly, Miss. Ann...|female|null|    0|    0|             9234|    7.75|               |       Q|
|        302|       1|     3|  McCoy, Mr. Bernard|  male|null|    2|    0|           367226|   23.25|               |       Q|
|        304|       1|     2| Keane, Miss. Nora A|female|null|    0|    0|           226593|   12.35|           E101|       Q|
|        306|       1|     1|Allison, Master. ...|  male|0.92|    1|    2|           113781|  151.55|        C22 C26|       S|
|        307|       1|     1|Fleming, Miss. Ma...|female|null|    0|    0|            17421|110.8833|               |       C|
|        308|       1|     1|Penasco y Castell...|female|17.0|    1|    0|         PC 17758|   108.9|            C65|       C|
|        310|       1|     1|Francatelli, Miss...|female|30.0|    0|    0|         PC 17485| 56.9292|            E36|       C|
|        311|       1|     1|Hays, Miss. Marga...|female|24.0|    0|    0|            11767| 83.1583|            C54|       C|
|        312|       1|     1|Ryerson, Miss. Em...|female|18.0|    2|    2|         PC 17608| 262.375|B57 B59 B63 B66|       C|
|        316|       1|     3|Nilsson, Miss. He...|female|26.0|    0|    0|           347470|  7.8542|               |       S|
|        317|       1|     2|Kantor, Mrs. Sina...|female|24.0|    1|    0|           244367|    26.0|               |       S|
|        319|       1|     1|Wick, Miss. Mary ...|female|31.0|    0|    2|            36928|164.8667|             C7|       S|
|        320|       1|     1|Spedden, Mrs. Fre...|female|40.0|    1|    1|            16966|   134.5|            E34|       C|
|        323|       1|     2|Slayter, Miss. Hi...|female|30.0|    0|    0|           234818|   12.35|               |       Q|
|        324|       1|     2|Caldwell, Mrs. Al...|female|22.0|    1|    1|           248738|    29.0|               |       S|
|        326|       1|     1|Young, Miss. Mari...|female|36.0|    0|    0|         PC 17760|135.6333|            C32|       C|
|        328|       1|     2|Ball, Mrs. (Ada E...|female|36.0|    0|    0|            28551|    13.0|              D|       S|
|        329|       1|     3|Goldsmith, Mrs. F...|female|31.0|    1|    1|           363291|  20.525|               |       S|
|        330|       1|     1|Hippach, Miss. Je...|female|16.0|    0|    1|           111361| 57.9792|            B18|       C|
|        331|       1|     3|  McCoy, Miss. Agnes|female|null|    2|    0|           367226|   23.25|               |       Q|
|        335|       1|     1|Frauenthal, Mrs. ...|female|null|    1|    0|         PC 17611|  133.65|               |       S|
|        338|       1|     1|Burns, Miss. Eliz...|female|41.0|    0|    0|            16966|   134.5|            E40|       C|
|        339|       1|     3|Dahl, Mr. Karl Ed...|  male|45.0|    0|    0|             7598|    8.05|               |       S|
|        341|       1|     2|Navratil, Master....|  male| 2.0|    1|    1|           230080|    26.0|             F2|       S|
|        342|       1|     1|Fortune, Miss. Al...|female|24.0|    3|    2|            19950|   263.0|    C23 C25 C27|       S|
|        346|       1|     2|"Brown, Miss. Ame...|female|24.0|    0|    0|           248733|    13.0|            F33|       S|
|        347|       1|     2|Smith, Miss. Mari...|female|40.0|    0|    0|            31418|    13.0|               |       S|
|        348|       1|     3|Davison, Mrs. Tho...|female|null|    1|    0|           386525|    16.1|               |       S|
|        349|       1|     3|"Coutts, Master. ...|  male| 3.0|    1|    1|       C.A. 37671|    15.9|               |       S|
|        357|       1|     1|Bowerman, Miss. E...|female|22.0|    0|    1|           113505|    55.0|            E33|       S|
|        359|       1|     3|McGovern, Miss. Mary|female|null|    0|    0|           330931|  7.8792|               |       Q|
|        360|       1|     3|"Mockler, Miss. H...|female|null|    0|    0|           330980|  7.8792|               |       Q|
|        367|       1|     1|Warren, Mrs. Fran...|female|60.0|    1|    0|           110813|   75.25|            D37|       C|
|        368|       1|     3|Moussa, Mrs. (Man...|female|null|    0|    0|             2626|  7.2292|               |       C|
|        369|       1|     3| Jermyn, Miss. Annie|female|null|    0|    0|            14313|    7.75|               |       Q|
|        370|       1|     1|Aubart, Mme. Leon...|female|24.0|    0|    0|         PC 17477|    69.3|            B35|       C|
|        371|       1|     1|Harder, Mr. Georg...|  male|25.0|    1|    0|            11765| 55.4417|            E50|       C|
|        376|       1|     1|Meyer, Mrs. Edgar...|female|null|    1|    0|         PC 17604| 82.1708|               |       C|
|        377|       1|     3|Landergren, Miss....|female|22.0|    0|    0|           C 7077|    7.25|               |       S|
|        381|       1|     1|Bidois, Miss. Ros...|female|42.0|    0|    0|         PC 17757| 227.525|               |       C|
|        382|       1|     3|"Nakid, Miss. Mar...|female| 1.0|    0|    2|             2653| 15.7417|               |       C|
|        384|       1|     1|Holverson, Mrs. A...|female|35.0|    1|    0|           113789|    52.0|               |       S|
|        388|       1|     2|    Buss, Miss. Kate|female|36.0|    0|    0|            27849|    13.0|               |       S|
|        390|       1|     2|Lehmann, Miss. Be...|female|17.0|    0|    0|          SC 1748|    12.0|               |       C|
|        391|       1|     1|Carter, Mr. Willi...|  male|36.0|    1|    2|           113760|   120.0|        B96 B98|       S|
|        392|       1|     3|Jansson, Mr. Carl...|  male|21.0|    0|    0|           350034|  7.7958|               |       S|

In [46]:
#2.3 average age of the survivors.
df_avg.agg({'Age': 'mean'}).show()

+------------------+
|          avg(Age)|
+------------------+
|28.343689655172415|
+------------------+